@media(max-width:865px){
    .header{
        justify-content: center;
    }
    nav li{
        display: none;
    }
    #icon{
        display:block;
        float: right;
        padding: 40px;
        margin-top: -140px;
    }

    nav ul{
        position: fixed;
        display:block;
        width: 100%;
        height: 61vh;
        background:black;
        top: 170px;
        right: -100%;
        transition: .5s all;
        text-align:center;
        opacity: 0.8;
        
    }
    nav ul li{
        display: block;
        margin: auto;
        padding: 20px;
    }
    nav a {
        font-size: 20px;
        color:white;
        font-family: 'Overpass', sans-serif;
        
    }
    
    nav ul.show{
        right:0;
    }
    .banner{
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content:center;
        margin-top: 50px;
    }
    .banner img{
        width: 200px;
        height: 250px;
        margin-top: 50px;
    }
    .banner_text{
        margin: 35px;
    }

    
    
}
